<nav>
    
</nav>
<script>
    document.getElementById('timeButton').addEventListener('click', function() {
        document.getElementById('scheduleForm').style.display = 'block';
    });
    
    document.getElementById('calendarButton').addEventListener('click', function() {
        document.getElementById('scheduleForm').style.display = 'block';
    });
</script>
